@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
      }
    body {
        margin: 0;
        display: flex;
        height: 100vh;
        font-family: "Spartan";
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color, rgb(241, 241, 241));
        transition: 0.7s ease-in;
      }
      
      body.projects-style {
        background-color: var(--background-color, rgb(182, 14, 14));
      }
      
      body.github-style {
        background-color: var(--background-color, rgb(58, 133, 81));
      }
      
      body.about-style {
        background-color: var(--background-color, rgb(84, 153, 170));
      }
      
      body.big-projects-style {
        background-color: var(--background-color, rgb(29, 29, 29));
      }
      
      body.big-project-style {
        background-color: var(--background-color, rgb(53, 9, 43));
      }
      
      body.big-project-style2 {
        background-color: var(--background-color, rgb(160, 136, 60));
      }
      
      body.big-project-style3 {
        background-color: var(--background-color, rgb(32, 68, 88));
      }
      
      body.small-projects-style {
        background-color: var(--background-color, rgb(204, 130, 60));
      }
      
      body.small-project-style1 {
        background-color: var(--background-color, rgb(170, 112, 170));
      }
      
      body.small-project-style2 {
        background-color: var(--background-color, rgb(114, 200, 154));
      }
      body.small-project-style3 {
        background-color: var(--background-color, rgb(97, 159, 200));
      }
      body.small-project-style4 {
        background-color: var(--background-color, rgb(194, 194, 194));
      }
      #main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        max-height: 1000px;
        max-width: 1000px;
        background-color: var(--box-color, #ffffff);
        border-radius: calc(var(--top-left, 50) * 1px)
          calc(var(--top-right, 50) * 1px) calc(var(--bottom-right, 50) * 1px)
          calc(var(--bottom-left, 50) * 1px);
        box-shadow: calc(var(--x-position, 3) * 1px) calc(var(--y-position, 3) * 1px)
          calc(var(--blur, 2) * 1px) calc(var(--spread, 1) * 1px)
          var(--shadow-color, rgb(175, 174, 174));
        transition: 1s ease;
      }
      #home-page-contact{
        opacity: 0.8;
        transition: 0.6s ease;
        transform: translateY(-10px);
        font-size: 1.00rem;
        text-align: center;
        color: rgb(32, 29, 3);
        z-index: 2;
        text-shadow: -1px 0 3px rgba(0, 0, 0, 0.061), 0 1px 3px rgba(0, 0, 0, 0.102),
          1px 0 3px rgba(0, 0, 0, 0.068), 0 -1px 3px rgba(0, 0, 0, 0.123);
      }
      #home-page-contact:hover{
        cursor: default;
        opacity: 1;
        transition: 0.6s ease;
        transform: translateY(-10px);
      }
      
      #home-page-contact.hide-contact{
        opacity: 0;
        z-index: 0;
      }
      #home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
      
      #github-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 0;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 0.6s ease-in;
      }
      
      #home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
      
      #projects-container {
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 0.6s ease-in;
      }
      
      #about-container {
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 1s ease-in;
      }
      
      div.show-about {
        opacity: 1 !important;
        z-index: 2 !important;
      }
      div.show-projects {
        opacity: 1 !important;
        z-index: 2 !important;
      }
      
      div.show-github {
        opacity: 1 !important;
        z-index: 2 !important;
      }
      
      div.button {
        display: inline-block;
        border: none;
        text-align: left;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(122, 122, 122);
        font-size: 2.5rem;
        text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black,
          0 -1px 2px black;
        transition: 0.4s ease-in-out;
      }
      
      div.button:hover {
        cursor: pointer;
        transform: scale(1.1);
        text-align: center;
      }
      
      .fas.fa-long-arrow-alt-left {
        opacity: 0;
      }
      .fas.fa-long-arrow-alt-left.backarrow-projects {
        opacity: 0.7;
        color: rgb(199, 95, 95);
        transform: translateY(50px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.backarrow-projects:hover {
        opacity: 0.7;
        color: rgb(148, 73, 73);
        transform: translateY(50px) scale(3.5);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.big-project {
        opacity: 0.9;
        color: rgb(161, 71, 177);
        transform: translateY(30px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.big-project:hover {
        opacity: 1;
        color: rgb(117, 35, 128);
        transform: translateY(30px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.big-project2 {
        opacity: 0.9;
        color: rgb(223, 215, 115);
        transform: translateY(30px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.big-project2:hover {
        opacity: 1;
        color: rgb(187, 189, 69);
        transform: translateY(30px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.big-project3 {
        opacity: 0.9;
        color: rgb(53, 131, 155);
        transform: translateY(30px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.big-project3:hover {
        opacity: 1;
        color: rgb(21, 57, 82);
        transform: translateY(30px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.big {
        opacity: 0.9;
        color: rgb(53, 53, 53);
        transform: translateY(0px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.big:hover {
        opacity: 1;
        color: rgb(10, 10, 10);
        transform: translateY(0px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.small {
        opacity: 0.9;
        color: rgb(218, 153, 101);
        transform: translateY(10px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.small:hover {
        opacity: 1;
        color: rgb(168, 100, 60);
        transform:translateY(10px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.small-project1 {
        opacity: 0.9;
        color: rgb(146, 41, 149);
        transform: translateY(50px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.small-project1:hover {
        opacity: 1;
        color: rgb(119, 26, 111);
        transform: translateY(50px) scale(3.5);
      }
      
      .fas.fa-long-arrow-alt-left.small-project2 {
        opacity: 0.9;
        color: rgb(56, 148, 99);
        transform: translateY(50px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.small-project2:hover {
        opacity: 1;
        color: rgb(18, 95, 41);
        transform: translateY(50px) scale(3.5);
      }
      
      .fas.fa-long-arrow-alt-left.small-project3 {
        opacity: 0.9;
        color: rgb(56, 107, 148);
        transform: translateY(50px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.small-project3:hover {
        opacity: 1;
        color: rgb(10, 44, 83);
        transform: translateY(50px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.small-project4 {
          opacity: 0.9;
          color: rgb(58, 58, 58);
          transform: translateY(50px) scale(3);
          transition: 0.4s ease;
        }
        .fas.fa-long-arrow-alt-left.small-project4:hover {
          opacity: 1;
          color: rgb(37, 37, 37);
          transform: translateY(50px) scale(3.5);
        }
      .fas.fa-long-arrow-alt-left.backarrow-github {
        opacity: 0.7;
        color: rgb(94, 185, 129);
        transform: translateY(110px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.backarrow-github:hover {
        opacity: 0.7;
        color: rgb(59, 126, 64);
        transform: translateY(110px) scale(3.5);
      }
      .fas.fa-long-arrow-alt-left.backarrow-aboutme {
        opacity: 0.7;
        color: rgb(78, 122, 180);
        transform: translateY(10px) scale(3);
        transition: 0.4s ease;
      }
      .fas.fa-long-arrow-alt-left.backarrow-aboutme:hover {
        opacity: 0.7;
        color: rgb(50, 77, 109);
        transform: translateY(10px) scale(3.25);
      }
      .fab.fa-github {
        opacity: 0;
        color: rgb(63, 126, 68);
        transform: scale(0) translateX(50);
        padding: 10px;
        transition: 0.8s ease;
      }
      .fab.fa-github.show-github-icon {
        opacity: 0.8;
        color: rgb(58, 139, 58);
        transform: scale(3) translateX(-10px) translateY(-2px);
      }
      
      a.github-link {
        text-decoration: none;
        font-size: 1.5rem;
        text-align: left;
        color: rgb(63, 126, 68);
        text-shadow: -1px 0 1px rgb(45, 146, 92), 0 1px 1px rgb(75, 175, 145),
          1px 0 1px rgb(48, 126, 67), 0 -1px 1px rgb(19, 144, 36);
        transition: 0.6s ease;
      }
      
      a.github-link:hover {
        transform: scale(1.2) !important;
      }
      
      .fab.fa-linkedin{
        color: rgba(134, 134, 134, 0.705);
        transform: scale(1.5);
        transition: 0.6s ease
      }
      
      .fab.fa-linkedin.hide-li-icon{
        color: rgba(134, 134, 134, 0.705);
        opacity: 0;
        transform: scale(1.5);
        transition: 0.6s ease
      }
      
      
      .fab.fa-linkedin:hover{
        color: rgba(68, 68, 68, 0.705);
        transform: scale(1.75)
      }
      div.about-profile {
        display: inline-block;
        border: none;
        text-align: left;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(72, 136, 179);
        font-size: 3rem;
        text-shadow: -1px 0 2px rgb(63, 152, 194), 0 1px 2px rgb(13, 95, 143),
          1px 0 2px rgb(17, 45, 110), 0 -1px 2px rgb(35, 77, 175);
        transition: 0.8s ease-out;
      }
      
      div.about-text {
        transform: translateY(-10px);
      }
      
      #portofolio-site-github{
        padding: 10px 10px!important;
      }
      div.big-projects,
      div.small-projects {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(226, 176, 176);
        font-size: 2.75rem;
        text-shadow: -1px 0 3.5px rgb(138, 39, 39), 0 1px 3.5px rgb(112, 18, 18),
          1px 0 3.5px rgb(131, 32, 32), 0 -1px 3.5px rgb(117, 57, 57);
        transition: 0.5s ease-in-out;
      }
      
      div.big-projects:hover,
      div.small-projects:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: rgb(175, 105, 105);
        text-shadow: -1px 0 5px rgb(93, 19, 19), 0 1px 5px rgb(73, 12, 12),
          1px 0 5px rgb(63, 9, 9), 0 -1px 5px rgb(65, 23, 23);
        text-align: center;
      }
      div.big-projects-container {
        position: absolute;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 1s ease-in;
      }
      div.big-projects-container.show-big-projects {
        opacity: 1;
        z-index: 2;
      }
      
      div.big-project-container {
        position: absolute;
        opacity: 0;
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 1s ease-in;
      }
      div.big-project-container.show-big-project {
        opacity: 1;
        z-index: 2;
      }
      
      div.big-project.animate-big-btn-1 {
        color: rgb(179, 92, 174);
        transform: translateY(-10px);
      }
      
      div.big-project.animate-big-btn-1:hover {
        transform: translateY(-10px) scale(1.1);
      }
      
      div.big-project.animate-big-btn-2 {
        color: rgb(88, 88, 88);
        transform: translateY(-160px);
      }
      
      div.big-project.animate-big-btn-2:hover {
        transform: translateY(-160px) scale(1.1);
      }
      div.big-project.animate-big-btn-3 {
        color: rgb(38, 115, 136);
        transform: translateY(-300px);
      }
      
      div.big-project.animate-big-btn-3:hover {
        transform: translateY(-300px) scale(1.1);
      }
      
      div.small-project.animate-small-btn-1 {
        color: rgb(209, 133, 219);
        text-shadow: -1px 0 4px rgb(84, 19, 93), 0 1px 4px rgb(71, 12, 73),
          1px 0 4px rgb(55, 9, 63), 0 -1px 4px rgb(65, 23, 63);
        transform: translateY(5px) scale(1);
      }
      div.small-project.animate-small-btn-1:hover {
        transform: translateY(5px) scale(1.1);
      }
      
      div.small-project.animate-small-btn-2 {
        color: rgb(25, 100, 43);
        text-shadow: -1px 0 2px rgb(3, 54, 30), 0 1px 2px rgb(5, 46, 5),
          1px 0 2px rgb(8, 47, 7), 0 -1px 2px rgb(2, 27, 8);
        transform: translateY(-60px) scale(1);
      }
      div.small-project.animate-small-btn-2:hover {
        transform: translateY(-60px) scale(1.1);
        color: rgb(16, 70, 30);
      }
      div.small-project.animate-small-btn-3 {
        color: rgb(69, 124, 168);
        text-shadow: -1px 0 4px rgb(8, 56, 95), 0 1px 4px rgb(20, 40, 71),
          1px 0 4px rgb(30, 55, 88), 0 -1px 4px rgb(14, 37, 66);
        transform: translateY(-130px) scale(1);
      }
      div.small-project.animate-small-btn-3:hover {
        transform: translateY(-130px) scale(1.1);
        color: rgb(28, 60, 99);
      }
      div.small-project.animate-small-btn-4 {
        color: rgb(90, 90, 90);
        text-shadow: -1px 0 3px rgb(39, 39, 39), 0 1px 3px rgb(29, 29, 29),
          1px 0 3px rgb(58, 58, 58), 0 -1px 3px rgb(44, 44, 44);
        transform: translateY(-210px) scale(0.65);
      }
      div.small-project.animate-small-btn-4:hover {
        transform: translateY(-210px) scale(0.70);
        color: rgb(41, 41, 41);
      }
      div.small-projects-container {
        position: absolute;
        opacity: 0;
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 1s ease-in;
      }
      div.small-projects-container.show-small-projects {
        opacity: 1;
        z-index: 2;
      }
      
      div.small-project-container {
        position: absolute;
        opacity: 0;
        display: flex;
        width: 275px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 0;
        transition: 0.6s ease-in;
      }
      div.small-project-container.show-small-project {
        opacity: 1;
        z-index: 2;
      }
      
      div.big-project {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 50px 60px;
        font-family: "Spartan";
        color: rgb(126, 126, 126);
        font-size: 1.75rem;
        text-shadow: -1px 0 2px rgb(0, 0, 0), 0 1px 2px rgb(0, 0, 0),
          1px 0 2px rgb(0, 0, 0), 0 -1px 2px rgb(0, 0, 0);
        transition: 0.6s ease;
      }
      
      div.big-project-container.show-big-projects {
        opacity: 1;
        z-index: 2;
      }
      div.big-project:hover {
        cursor: pointer;
        color: rgb(236, 236, 236);
        text-shadow: -1px 0 1px rgb(73, 73, 73), 0 1px 1px rgb(56, 56, 56),
          1px 0 1px rgb(87, 86, 86), 0 -1px 1px rgb(122, 122, 122);
        transform: scale(1.1);
        text-align: center;
      }
      
      div.big-project-info {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(151, 73, 147);
        font-size: 1.15rem;
        text-shadow: -1px 0 1px rgb(87, 46, 104), 0 1px 1px rgb(84, 14, 97),
          1px 0 1px rgb(91, 17, 104), 0 -1px 1px rgb(117, 36, 128);
        transition: 0.6s ease;
      }
      
      div.big-project-info:hover {
        cursor: default;
        color: rgb(109, 43, 121);
        transform: scale(1.05) !important;
      }
      a.big-project-github {
        text-decoration: none;
        font-size: 1.25rem;
        text-align: center;
        padding-top: 10px;
        color: rgb(117, 67, 119);
        text-shadow: -1px 0 1px rgb(59, 4, 57), 0 1px 1px rgb(59, 5, 57),
          1px 0 1px rgb(71, 15, 62), 0 -1px 1px rgb(75, 10, 71);
        transition: 0.6s ease;
      }
      
      a.big-project-github:hover {
        transform: scale(1.2) !important;
      }
      
      div.big-project-info2 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(41, 37, 3);
        font-size: 1.15rem;
        text-shadow: -1px 0 1px rgb(63, 62, 62), 0 1px 1px rgb(77, 76, 76),
          1px 0 1px rgb(109, 109, 109), 0 -1px 1px rgb(51, 51, 51);
        transition: 0.6s ease;
      }
      
      div.big-project-info2:hover {
        cursor: default;
        color: rgb(90, 83, 21);
        transform: scale(1.1) !important;
      }
      a.big-project-github2 {
        text-decoration: none;
        padding-top: 10px;
        font-size: 1.25rem;
        text-align: center;
        color: rgb(32, 29, 3);
        text-shadow: -1px 0 1px rgb(0, 0, 0), 0 1px 1px rgb(0, 0, 0),
          1px 0 1px rgb(0, 0, 0), 0 -1px 1px rgb(0, 0, 0);
        transition: 0.6s ease;
      }
      
      a.big-project-github2:hover {
        transform: scale(1.2) !important;
      }
      
      div.big-project-info3 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgb(20, 92, 114);
        font-size: 1.15rem;
        text-shadow: -1px 0 1px rgb(54, 117, 133), 0 1px 1px rgb(46, 119, 141),
          1px 0 1px rgb(36, 106, 128), 0 -1px 1px rgb(28, 134, 138);
        transition: 0.6s ease;
      }
      
      a.big-project-github3 {
        text-decoration: none;
        font-size: 1.25rem;
        text-align: center;
        color: rgb(39, 98, 116);
        text-shadow: -1px 0 1px rgb(36, 74, 105), 0 1px 1px rgb(52, 102, 131),
          1px 0 1px rgb(8, 52, 78), 0 -1px 1px rgba(27, 54, 97, 0);
        transition: 0.6s ease;
      }
      
      div.big-project-info3:hover {
        cursor: default;
        color: rgb(18, 64, 78);
        transform: scale(1.1) !important;
      }
      
      a.big-project-github3:hover {
        color: rgb(18, 64, 78);
        transform: scale(1.2) !important;
      }
      div.small-project {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgba(233, 175, 128, 0.904);
        font-size: 1.3rem;
        text-shadow: -1px 0 1px rgb(190, 82, 39), 0 1px 1px rgb(170, 94, 49),
          1px 0 1px rgb(170, 115, 63), 0 -1px 1px rgb(156, 92, 40);
        transition: 0.6s ease;
      }
      
      div.small-project:hover {
        cursor: pointer;
        transform: scale(1.05);
        text-align: center;
        color: rgba(161, 105, 59, 0.904);
        text-shadow: 1px 0 1px rgb(129, 52, 21), 0 -1px 1px rgb(119, 55, 19),
          0px 1 1px rgb(98, 52, 9), 0 1px 1px rgb(102, 52, 11);
      }
      
      div.small-project-info1 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgba(168, 102, 168, 0.904);
        font-size: .85rem;
        text-shadow: -1px 0 1px rgb(103, 32, 121), 0 1px 1px rgb(199, 65, 188),
          1px 0 1px rgb(172, 80, 214), 0 -1px 1px rgb(176, 87, 199);
        transition: 0.6s ease;
      }
      
      div.small-project-info1:hover {
        cursor: pointer;
        transform: scale(1.1);
        text-align: center;
        color: rgba(161, 105, 59, 0.904);
        text-shadow: 1px 0 1px rgb(129, 52, 21), 0 -1px 1px rgb(119, 55, 19),
          0px 1 1px rgb(98, 52, 9), 0 1px 1px rgb(102, 52, 11);
      }
      
      a.small-project-github1 {
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        color: rgb(87, 10, 90);
        text-shadow: -1px 0 1px rgb(58, 9, 58), 0 1px 1px rgb(109, 52, 131),
          1px 0 1px rgb(159, 46, 163), 0 -1px 1px rgb(156, 46, 184);
        transition: 0.6s ease;
      }
      
      a.small-project-github1:hover {
        color: rgb(18, 64, 78);
        transform: scale(1.1) !important;
      }
      div.small-project-info2 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgba(48, 124, 61, 0.904);
        font-size: .85rem;
        text-shadow: -1px 0 1px rgb(32, 121, 62), 0 1px 1px rgb(65, 199, 110),
          1px 0 1px rgb(35, 102, 35), 0 -1px 1px rgb(15, 95, 48);
        transition: 0.6s ease;
      }
      
      div.small-project-info2:hover {
        cursor: pointer;
        transform: scale(1.1);
        text-align: center;
        color: rgba(11, 65, 32, 0.904);
        text-shadow: 1px 0 10px rgb(21, 129, 35), 0 -1px 10px rgb(19, 119, 49),
          0px 1 10px rgb(39, 109, 18), 0 1px 10px rgba(57, 109, 22, 0.986);
      }
      
      a.small-project-github2 {
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        color: rgb(7, 71, 10);
        text-shadow: -1px 0 1px rgb(8, 77, 11), 0 1px 1px rgb(52, 131, 82),
          1px 0 1px rgb(83, 165, 76), 0 -1px 1px rgb(28, 110, 17);
        transition: 0.6s ease;
      }
      
      a.small-project-github2:hover {
        color: rgb(7, 58, 5);
        text-shadow: -1px 0 1px rgb(119, 194, 123), 0 1px 1px rgb(52, 131, 82),
          1px 0 1px rgb(172, 212, 168), 0 -1px 1px rgb(169, 209, 164);
        transform: scale(1.1) !important;
      }
      div.small-project-info3 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        padding: 20px 20px;
        font-family: "Spartan";
        color: rgba(94, 159, 197, 0.904);
        font-size: .85rem;
        text-shadow: -1px 0 1px rgb(21, 97, 116), 0 1px 1px rgb(65, 134, 199),
          1px 0 1px rgb(55, 81, 131), 0 -1px 1px rgb(42, 111, 133);
        transition: 0.6s ease;
      }
      
      div.small-project-info3:hover {
        cursor: pointer;
        transform: scale(1.1);
        text-align: center;
        color: rgba(40, 88, 134, 0.904);
        text-shadow: 1px 0 10px rgb(42, 110, 150), 0 -1px 10px rgb(40, 108, 148),
          0px 1 10px rgb(22, 87, 104), 0 1px 10px rgba(22, 77, 109, 0.986);
      }
      
      a.small-project-github3 {
        text-decoration: none;
        font-size: 1rem;
        text-align: center;
        color: rgb(42, 100, 139);
        text-shadow: -1px 0 1px rgb(8, 44, 77), 0 1px 1px rgb(52, 102, 131),
          1px 0 1px rgb(76, 122, 165), 0 -1px 1px rgb(17, 88, 110);
        transition: 0.6s ease;
      }
      
      a.small-project-github3:hover {
        color: rgb(23, 54, 93);
        text-shadow: -1px 0 1px rgb(72, 118, 170), 0 1px 1px rgb(52, 103, 131),
          1px 0 1px rgb(26, 27, 97), 0 -1px 1px rgb(84, 123, 196);
        transform: scale(1.1) !important;
      }
      div.small-project-info4 {
          display: inline-block;
          border: none;
          /* background-color: rgb(224, 145, 145); */
          text-align: center;
          padding: 20px 20px;
          font-family: "Spartan";
          color: rgba(112, 112, 112, 0.904);
          font-size: .85rem;
          text-shadow: -1px 0 1px rgb(42, 42, 42), 0 1px 1px rgb(46, 46, 46),
            1px 0 1px rgb(53, 53, 53), 0 -1px 1px rgb(70, 70, 70);
          transition: 0.6s ease;
        }
        
        div.small-project-info4:hover {
          cursor: pointer;
          transform: scale(1.1);
          text-align: center;
          color: rgba(58, 58, 58, 0.904);
          text-shadow: 1px 0 10px rgb(39, 39, 39), 0 -1px 10px rgb(8, 8, 8),
            0px 1 10px rgb(37, 37, 37), 0 1px 10px rgba(51, 51, 51, 0.986);
        }
        
        a.small-project-github4 {
          text-decoration: none;
          font-size: 1rem;
          text-align: center;
          color: rgb(29, 29, 29);
          text-shadow: -1px 0 1px rgb(34, 34, 34), 0 1px 1px rgb(26, 26, 26),
            1px 0 1px rgb(46, 46, 46), 0 -1px 1px rgb(51, 51, 51);
          transition: 0.6s ease;
        }
        
        a.small-project-github4:hover {
          color: rgb(47, 47, 47);
          text-shadow: -1px 0 1px rgb(36, 36, 36), 0 1px 1px rgb(39, 39, 39),
            1px 0 1px rgb(49, 49, 49), 0 -1px 1px rgb(32, 32, 32);
          transform: scale(1.1) !important;
        }
      div.github-div-style {
        border-radius: 50px 50px 50px 50px !important;
        width: 350px !important;
        height: 200px !important;
        background-color: rgb(197, 253, 211) !important;
        box-shadow: -8px 1px 2px 1px rgb(8, 109, 17) !important;
      }
      
      div.projects-style {
        border-radius: 50% !important;
        transform: scale(1.4);
        background-color: rgb(224, 145, 145) !important;
        box-shadow: -8px 1px 2px 1px rgb(158, 19, 12) !important;
      }
      
      div.big-projects-style {
        border-radius: 50px 50px 50px 50px !important;
        width: 250px !important;
        height: 400px !important;
        background-color: rgb(42, 42, 42) !important;
        box-shadow: 5px 4px 2px 1px rgb(19, 18, 18) !important;
      }
      
      div.big-project-style {
        border-radius: 100px 25px 100px 50px !important;
        width: 260px !important;
        height: 350px !important;
        background-color: rgb(214, 158, 211) !important;
        box-shadow: 4px 10px 2px 1px rgb(62, 22, 57) !important;
      }
      
      div.big-project-style2 {
        border-radius: 25px 100px 25px 100px !important;
        width: 260px !important;
        height: 350px !important;
        background-color: rgb(243, 233, 141) !important;
        box-shadow: 4px 10px 2px 1px rgb(62, 61, 22) !important;
      }
      
      div.big-project-style3 {
        border-radius: 100px 100px 250px 250px !important;
        width: 260px !important;
        height: 275px !important;
        background-color: rgb(171, 233, 233) !important;
        box-shadow: -2px 5px 2px 1px rgb(21, 153, 153) !important;
      }
      
      div.small-projects-style {
        border-radius: 25px 100px 25px 100px !important;
        width: 325px !important;
        height: 450px !important;
        background-color: rgb(226, 172, 128) !important;
        box-shadow: -4px 2px 3px 1px rgb(151, 75, 0) !important;
      }
      
      div.small-project-style1 {
        border-radius: 100px 50px 100px 50px !important;
        width: 300px !important;
        height: 350px !important;
        background-color: rgb(233, 167, 233) !important;
        box-shadow: -4px -2px 3px 1px rgb(81, 34, 85) !important;
      }
      
      div.small-project-style2 {
        border-radius: 100px 50px 100px 50px !important;
        width: 300px !important;
        height: 350px !important;
        background-color: rgb(213, 243, 212) !important;
        box-shadow: 4px -6px 2px 1px rgb(24, 71, 27) !important;
      }
      
      div.small-project-style3 {
        border-radius: 100px 50px 100px 50px !important;
        width: 300px !important;
        height: 350px !important;
        background-color: rgb(179, 208, 235) !important;
        box-shadow: -4px 10px 2px 1px rgb(28, 68, 87) !important;
      }
      
      div.small-project-style4 {
          border-radius: 100px 50px 100px 50px !important;
          width: 300px !important;
          height: 350px !important;
          background-color: rgb(226, 226, 226) !important;
          box-shadow: 4px 10px 2px 1px rgb(71, 71, 71) !important;
        }
      
      div.about-div-style {
        border-radius: 50px 50px 50px 50px !important;
        width: 350px !important;
        height: 725px !important;
        background-color: rgb(176, 228, 252) !important;
        box-shadow: -8px 1px 2px 1px rgb(60, 87, 175) !important;
      }
      
      h1 {
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        font-family: "Spartan";
        color: rgb(122, 122, 122);
        font-size: 2rem;
        text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black,
          0 -1px 2px black;
        transition: 0.5s ease;
        z-index: 2;
      }
      
      h1#home-page-title{
        transform: translateY(10px);
      }
      h1.hide {
        opacity: 0;
        z-index: 0;
      }
      
      div.about-profile-bio {
        width: 325px;
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        font-family: "Spartan";
        color: rgb(56, 107, 165);
        font-size: 1.0rem;
        text-shadow: -1px 0 0.5px rgb(62, 94, 163), 0 1px 0.5px rgb(69, 122, 153),
          1px 0 0.5px rgb(62, 115, 139), 0 -1px 2px rgb(93, 155, 173);
        transition: 0.5s ease;
      }
      
      div.skills {
        text-align: center;
        width: 350px;
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: center;
        font-family: "Spartan";
        color: rgb(56, 107, 165);
        font-size: 1.0rem;
        text-shadow: -1px 0 0.5px rgb(62, 94, 163), 0 1px 0.5px rgb(69, 122, 153),
          1px 0 0.5px rgb(62, 115, 139), 0 -1px 2px rgb(93, 155, 173);
        transition: 0.5s ease;
      }
      div.divider {
        color: rgb(50, 87, 156);
        width: 300px;
        height: 10px;
      }
      
      ul.list-skills {
        width: 325px;
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        font-family: "Spartan";
        color: rgb(56, 107, 165);
        font-size: 1rem;
        text-shadow: -1px 0 0.05px rgb(62, 94, 163), 0 1px 0.05px rgb(69, 122, 153),
          1px 0 0.05px rgb(62, 115, 139), 0 -1px 0.05px rgb(93, 155, 173);
        transition: 0.2s ease;
      }
      
      div.about-project-bio {
        width: 325px;
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        font-family: "Spartan";
        color: rgb(56, 107, 165);
        font-size: 1rem;
        text-shadow: -1px 0 0.5px rgb(62, 94, 163), 0 1px 0.5px rgb(69, 122, 153),
          1px 0 0.5px rgb(62, 115, 139), 0 -1px 2px rgb(93, 155, 173);
        transition: 0.5s ease;
      }
      
      div.github-profile-bio {
        width: 300px;
        display: inline-block;
        border: none;
        /* background-color: rgb(224, 145, 145); */
        text-align: left;
        font-family: "Spartan";
        color: rgb(87, 172, 94);
        font-size: 0.85rem;
        transform: translateY(30px);
        text-shadow: -1px 0 5px rgba(31, 83, 24, 0.171),-1px 0 5px rgba(21, 97, 50, 0.075),
          1px 0 5px rgba(26, 110, 51, 0.137), 0 -1px 5px rgba(45, 126, 72, 0.239);
        transition: 0.5s ease;
      }
      div.github-profile-bio:hover{
        cursor: default;
        color: rgb(47, 117, 53);
        transform: translateY(30px) scale(1.05);
        text-shadow:-1px 0 5px rgba(31, 83, 24, 0.459),-1px 0 5px rgba(21, 97, 50, 0.486),
          1px 0 5px rgba(26, 110, 47, 0.527), 0 -1px 5px rgba(45, 126, 72, 0.685);
      }
      
}